.game {
  padding: 10px;
  text-align: center;
  background-color: #64732f;
  margin: 5% auto;
}
.help {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
.target {
  border: thin solid #fff;
  width: 300px;
  font-size: 45px;
  text-align: center;
  display: inline-block;
  background-color: rgba(116, 167, 221, 0.5);
}
.challengeNumbers {
  width: 100%;
  margin: 10px auto;
}
.number {
  background-color: #b4bf5e;
  width: 30%;
  text-align: center;
  font-size: 36px;
  border-radius: 5px;
  margin: 1rem 5%;
  display: inline-block;
  cursor: pointer;
  color: #64732f;
}
.footer {
  width: 100%;
  height: 50px;
  text-align: center;
}
.timerValue {
  color: #fff;
  font-size: 150%;
}
.button:focus {
  outline: none;
}
.button {
  cursor: pointer;
  background: rgba(116, 167, 221, 0.5);
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  text-align: center;
}
